pkgbase = ipfs-gatewayacl-git
	pkgdesc = GatewayACL for IPFS (Kubo)
	pkgver = 0.1.2.r0.g491a51c
	pkgrel = 1
	url = https://github.com/chixodo-xyz/ipfs-gatewayacl
	install = prod.install
	arch = x86_64
	license = GPL3
	makedepends = git
	depends = openresty
	depends = bash
	optdepends = nano
	optdepends = sudo
	provides = ipfs-gatewayacl
	conflicts = ipfs-gatewayacl
	source = git+https://github.com/chixodo-xyz/ipfs-gatewayacl.git
	b2sums = SKIP

pkgname = ipfs-gatewayacl-git
